<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    table{
      width: 400px;
      height: 200px;
      border: 1px solid #000;
      margin: 100px auto;
    }
  </style>
</head>
<body>
  <form action="/login" method="post">
    <table>
      <tr>
        <th>用户名：</th>
        <td><input type="text" name="username"></td>
      </tr>
      <tr>
        <th>密 码：</th>
        <td><input type="password" name="pwd"></td>
      </tr>
      <tr>
        <th></th>
        <td><input type="submit" value="登录"></td>
      </tr>
    </table>
  </form>
</body>
</html>